
img{
  width:80%;
}
p{
  text-align: center;
}
a{
  text-decoration: none!important;
}
.block{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.wrap{
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin:2% 1% 2% 1%;
  width:28%;
  border:black solid 2px;
}
.image{
  width:50%;
  overflow: hidden;
}

/* Popup container */
.popup {
  position: relative;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
  margin-right: 20px;
}

/* The actual popup (appears on top) */
.popup .popuptext {
  visibility: hidden;
  position: absolute;
}
/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 1000;
  background-color: azure;
  visibility: visible !important;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  width: 30%;
}
.el{
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  margin:2% 1% 2% 1%;
  width:80%;
  border:black solid 2px;
}
/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
