<div>
  <button>Cart</button>
  <div *ngFor="let atr of popArr" >
        <div>{{atr.title}}</div>
  </div>
</div>

<div class="block">
  <div *ngFor="let product of products let i=index" [id]="i" class="wrap" >
    <p>{{product.title}}</p>
    <div class="image">
    <ng-image-slider [images]="imageObject" #nav></ng-image-slider>
    </div>
<!--    <img src="{{product.img[0]}}"/>-->
<!--    <img src="{{product.img[1]}}"/>-->
<!--    <img src="{{product.img[2]}}"/>-->
    <p>Price: {{product.price}}</p>
    <p>Memory: {{product.memory}}</p>
    <p>Quantity: {{product.quantity}}</p>
    <p>Manufacturer: {{product.manufacturer}}</p>
    <p>{{product.description}}</p>
    <button (click)="onClick($event)">Buy</button>
  </div>
</div>
